@font-face {
	font-family: 'JetBrains Mono';
	src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

:root {
	--clr-surface-1: #18171f;
	--clr-surface-2: #24232c;
	--clr-surface-3: #17161e;

	--clr-on-surface-1: #e6e5ea;
	--clr-on-surface-2: #817d92;

	--clr-primary: #a4ffaf;

	--clr-error: #f64a4a;
	--clr-warning: #fb7c58;
	--clr-notice: #f8cd65;
	--clr-success: var(--clr-primary);

	--radius-input: 0px;
	--radius-slider: 0px;
	--radius-button: 0px;
	--radius-surface: 0px;

	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: 'JetBrains Mono', monospace;
	font-size: 1rem;
	color: var(--clr-on-surface-1);

	background-color: var(--clr-surface-1);

	min-height: 100vh;

	padding: 0;
	margin: 0;
}

h1 {
	color: var(--clr-on-surface-2);
	font-size: 1rem;
	margin-bottom: 1rem;
}

main {
	display: grid;
	gap: 1rem;

	max-width: 30rem;
	width: 100%;
}

section {
	background-color: var(--clr-surface-2);
	padding: 1.6rem;

	width: 100%;
}

input {
	accent-color: var(--clr-primary);
}

/*** Output Container ***/

.output-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	padding-block: 1rem;
}

#generated-password-label {
	display: none;
}

.input-wrapper {
	width: 100%;
}

.generated-password {
	flex-grow: 1;

	background: none;

	border: none;

	font-weight: 700;
	color: var(--clr-on-surface-1);
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.1rem;

	width: 100%;

	overflow-y: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.generated-password::placeholder {
	color: var(--clr-on-surface-2);
}

/*** Form ***/

.form-container {
	min-height: 24rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	gap: 1rem;

	width: 100%;
	height: 100%;
}

.character-length-container {
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: 100%;
}

.character-length-legend {
	grid-column: 1 / span 2;
	font-size: 1rem;
	align-self: center;
}

#character-length-label {
	grid-column: -1;
	font-weight: 700;
	color: var(--clr-primary);
}

/*** *** Slider *** ***/

.slider-container {
	isolation: isolate;
	position: relative;

	display: grid;
	align-items: center;
	justify-content: center;

	grid-column-start: 1;
	grid-column-end: 4;

	width: 100%;
	height: 8px;

	margin-block: 1rem;
}

.slider {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-appearance: none;
	appearance: none;

	background: transparent;

	width: 100%;
	height: 8px;

	outline: none;
	margin: 0;
}

.slider:hover {
	cursor: pointer;
}

.slider-track {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 8px;

	background: var(--clr-surface-1);

	border-radius: var(--radius-slider);
}

.slider-progress {
	position: absolute;
	top: 0;
	left: 0;

	width: 0%;
	height: 8px;

	background: var(--clr-primary);

	border-radius: var(--radius-slider);
}

.slider::-webkit-slider-thumb {
	z-index: 3;
	position: relative;

	-webkit-appearance: none;

	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	outline: 0px solid var(--clr-on-surface-1);
	border-radius: 50%;

	cursor: pointer;

	transition: outline 0.05s ease-in-out, background 0.1s ease-in-out;
}

.slider::-moz-range-thumb {
	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	border: none;
	outline: 0px solid var(--clr-on-surface-1);
	border-radius: 50%;

	cursor: pointer;

	transition: outline 0.05s ease-in-out, background 0.1s ease-in-out;
}

.slider::-ms-thumb {
	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	outline: 0px solid var(--clr-on-surface-1);
	border: none;
	border-radius: 50%;

	cursor: pointer;

	transition: outline 0.05s ease-in-out, background 0.1s ease-in-out;
}

.slider:hover::-webkit-slider-thumb {
	outline: 2px solid var(--clr-primary);
	background: var(--clr-surface-1);
}

.slider:hover::-moz-range-thumb {
	outline: 2px solid var(--clr-primary);
	background: var(--clr-surface-1);
}

.slider:hover::-ms-thumb {
	outline: 2px solid var(--clr-primary);
	background: var(--clr-surface-1);
}

/*** Checkbox Fieldset ***/

.password-characters-filter-fieldset {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	font-weight: 700;

	width: 100%;

	padding: 0;
	margin: 0;
	outline: none;
	border: none;
}

/*** Checkboxes ***/

.checkbox-container {
	display: flex;
	align-items: center;

	position: relative;

	padding-left: 2.4rem;

	cursor: pointer;

	font-size: 1rem;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	left: 0;

	height: 20px;
	width: 20px;

	background-color: none;

	border: 2px solid var(--clr-on-surface-1);
}

.checkbox-container:hover input ~ .checkmark {
	background-color: var(--clr-surface-1);
}

.checkbox-container input:checked ~ .checkmark {
	background-color: var(--clr-primary);
	border: none;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	width: 100%;
	height: 100%;

	background-image: url('./assets/images/icon-check.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

/*** Password Strength Indicator ***/

.password-strength-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	background-color: var(--clr-surface-1);

	padding-block: 1.2rem;
	padding-inline: 1.6rem;

	margin-block: 1rem;
}

.password-strength-meter-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.password-strength-container-label {
	text-transform: uppercase;
	color: var(--clr-on-surface-2);
	font-weight: 700;
}

.password-strength-meter-label {
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 0.8rem;
}

.password-strength-meter {
	display: flex;
	gap: 0.4rem;
}

.password-strength-meter-bar {
	height: 28px;
	width: 0.5rem;
	border: 2px solid var(--clr-on-surface-1);
}

.meter-bar-notice {
	background-color: var(--clr-notice);
	border: 2px solid var(--clr-notice);
}

.meter-bar-warning {
	background-color: var(--clr-warning);
	border: 2px solid var(--clr-warning);
}

.meter-bar-error {
	background-color: var(--clr-error);
	border: 2px solid var(--clr-error);
}

.meter-bar-success {
	background-color: var(--clr-primary);
	border: 2px solid var(--clr-primary);
}

/*** Button ***/

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	outline: 3px solid var(--clr-primary);
	border-radius: var(--radius-button);
	padding: 1rem;

	text-transform: uppercase;
	font-size: 1rem;
	font-family: 'JetBrains Mono', monospace;

	background-color: var(--clr-primary);

	transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.button:hover {
	background-color: transparent;
	color: var(--clr-primary);
	cursor: pointer;
}

.btn-generate-password-icon {
	margin-left: 0.6rem;

	transition: margin-left 0.15s ease-in-out;
}

.button:hover > span > .btn-generate-password-icon {
	margin-left: 1.2rem;
}

.button > span > svg {
	fill: var(--clr-surface-1);
	transition: fill 0.15s ease-in-out, margin-left 0.15s ease-in-out;
}

.button:hover > span > svg {
	fill: var(--clr-primary);
}

.button:active > span > .btn-generate-password-icon {
	margin-left: 0.2rem;
}

/*** Copied! Button ***/

.btn-copy-container {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: calc(24px + 1rem);
	height: calc(24px + 1rem);

	aspect-ratio: 1;

	margin: 0;
	padding: 0;
}

#btn-copy {
	position: absolute;
	left: 50%;
	top: 2px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;

	aspect-ratio: 1;

	border: none;
	border-radius: 50%;

	padding: 1rem;
	margin: 0;

	background: none;

	transform: translate(-50%);

	transition: top 0.15s ease-in-out;
}

#btn-copy:hover {
	cursor: pointer;
	top: -1px;
}

#btn-copy:hover > img {
	filter: grayscale(100%) brightness(100%);
}

#btn-copy:active {
	cursor: pointer;
	top: 2px;
}

#btn-copy:active > img {
	filter: grayscale(100%) brightness(80%);
}

#btn-copied-label {
	position: absolute;
	right: 2.5rem;
	top: 50%;

	transform: translateY(-50%);

	color: var(--clr-primary);
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;

	pointer-events: none;

	animation-name: copiedTextAnim;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-play-state: paused;
}

/*** Copied Button Animation ***/

@keyframes copiedTextAnim {
	0% {
		opacity: 0%;
		transform: translateY(-50%) translateX(20px);
	}
	10% {
		opacity: 100%;
		transform: translateY(-50%) translateX(0);
	}
	40% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

/*** Utility ***/

.large-font {
	font-size: 1.778rem;
}

.medium-font {
	font-size: 1.334rem;
}
