@font-face {
	font-family: 'JetBrains Mono';
	src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

:root {
	--clr-surface-1: #18171f;
	--clr-surface-2: #24232c;
	--clr-surface-3: #17161e;

	--clr-on-surface-1: #e6e5ea;
	--clr-on-surface-2: #817d92;

	--clr-primary: #a4ffaf;

	--clr-error: #f64a4a;
	--clr-warning: #fb7c58;
	--clr-notice: #f8cd65;
	--clr-success: var(--clr-primary);

	--radius-input: 0px;
	--radius-slider: 0px;
	--radius-button: 0px;
	--radius-surface: 0px;

	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: 'JetBrains Mono', monospace;
	font-size: 1rem;
	color: var(--clr-on-surface-1);

	background-color: var(--clr-surface-1);

	min-height: 100vh;
}

h1 {
	color: var(--clr-on-surface-2);
	font-size: 1rem;
	margin-bottom: 1rem;
}

main {
	display: grid;
	gap: 1rem;

	max-width: 28rem;
	width: 100%;
}

section {
	background-color: var(--clr-surface-2);
	padding: 1rem;

	width: 100%;
}

input {
	accent-color: var(--clr-primary);
}

/*** Output Container ***/

.output-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.generated-password {
	font-weight: 700;
}

/*** Form ***/

.form-container {
	min-height: 24rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.character-length-container {
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: 100%;
}

.character-length-legend {
	grid-column: 1 / span 2;
}

#character-length-label {
	grid-column: -1;
}

/*** Slider Legend ***/

.character-length-legend {
	font-size: 1rem;
}

/*** *** Slider *** ***/

.slider-container {
	isolation: isolate;
	position: relative;

	grid-column-start: 1;
	grid-column-end: 4;

	width: 100%;
	height: 8px;

	margin-block: 1rem;
}

.slider {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-appearance: none;
	appearance: none;

	background: transparent;

	width: 100%;
	height: 8px;

	outline: none;
	margin: 0;
}

.slider-track {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 8px;

	background: var(--clr-surface-1);

	border-radius: var(--radius-slider);
}

.slider-progress {
	position: absolute;
	top: 0;
	left: 0;

	width: 0%;
	height: 8px;

	background: var(--clr-primary);

	border-radius: var(--radius-slider);
}

.slider::-webkit-slider-thumb {
	z-index: 3;
	position: relative;

	-webkit-appearance: none;

	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	border-radius: 50%;

	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	border: none;
	border-radius: 50%;

	cursor: pointer;
}

.slider::-ms-thumb {
	width: 28px;
	height: 28px;

	background: var(--clr-on-surface-1);

	border: none;
	border-radius: 50%;

	cursor: pointer;
}

/*** Checkbox Fieldset ***/

.password-characters-filter-fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;

	font-weight: 700;

	width: 100%;

	padding: 0;
	margin: 0;
	outline: none;
	border: none;
}

/*** Password Strength Indicator ***/

.password-strength-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: var(--clr-surface-1);
	padding: 1rem;
	margin-block: 1rem;
}

.password-strength-meter-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.password-strength-container-label {
	text-transform: uppercase;
	color: var(--clr-on-surface-2);
	font-weight: 700;
}

.password-strength-meter-label {
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 0.4rem;
}

.password-strength-meter {
	display: flex;
	gap: 0.4rem;
}

.password-strength-meter-bar {
	height: 28px;
	width: 10px;
	border: 2px solid var(--clr-on-surface-1);
}

.meter-bar-notice {
	background-color: var(--clr-notice);
}

.meter-bar-warning {
	background-color: var(--clr-warning);
	border: 2px solid var(--clr-warning);
}

.meter-bar-success {
	background-color: var(--clr-primary);
}

/*** Utility ***/

.large-font {
	font-size: 1.778rem;
}

.medium-font {
	font-size: 1.334rem;
}
